In [1]:
from tensorflow.python.keras.applications import ResNet50
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Flatten, GlobalAveragePooling2D
import pandas as pd 
import numpy as np 
import os

C:\Users\Shoya\Anaconda2\envs\tensorflow\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# get attractiveness ratings for each image 
ratings_df = pd.read_excel("../CFD 2 Codebook.xlsx")
ratings_df["Attractiveness"] = (ratings_df["Attractive"]-ratings_df["Attractive"].mean())/ratings_df["Attractive"].std()

#attractiveness_dict = ratings_df.set_index('Target')['Attractiveness'].to_dict() 

attractiveness_df = ratings_df[["Target","Attractiveness"]]
display(attractiveness_df.head())

   Target  Attractiveness
0  AF-200        1.143804
1  AF-201       -0.157090
2  AF-202       -0.301633
3  AF-203        0.057234
4  AF-204       -0.077341

In [6]:
# Prepare dataframe to feed in to imagedatagenerator 

image_files = os.listdir('C:/Users/Shoya/Aphrodite/All CFD Images/')

image_df = pd.DataFrame(image_files, columns=["Image File Names"])
image_df["Target ID"] = image_df["Image File Names"].str.slice(4,10)
data_df = pd.merge(image_df, attractiveness_df, left_on="Target ID", right_on="Target")[["Image File Names","Target ID","Attractiveness"]]
data_df = data_df.sample(frac=1).reset_index(drop=True)

In [7]:
data_df.head()

        Image File Names Target ID  Attractiveness
0  CFD-BF-019-004-HC.jpg    BF-019       -0.801977
1   CFD-BF-040-051-A.jpg    BF-040       -0.032483
2   CFD-LF-225-164-N.jpg    LF-225        0.945057
3  CFD-BF-023-012-HC.jpg    BF-023       -0.487475
4   CFD-BF-024-002-N.jpg    BF-024       -1.212259

In [8]:
data_df.describe()

       Attractiveness
count     1207.000000
mean        -0.051699
std          0.965902
min         -2.226956
25%         -0.701908
50%         -0.201565
75%          0.586782
max          2.922321