In [7]:
from tensorflow.python.keras.applications import ResNet50
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Flatten, GlobalAveragePooling2D
import pandas as pd 
import numpy as np 
import os

In [13]:
# get attractiveness ratings for each image 
ratings_df = pd.read_excel("../CFD 2 Codebook.xlsx")
ratings_df["Attractiveness"] = (ratings_df["Attractive"]-ratings_df["Attractive"].mean())/ratings_df["Attractive"].std()

#attractiveness_dict = ratings_df.set_index('Target')['Attractiveness'].to_dict() 

attractiveness_df = ratings_df[["Target","Attractiveness"]]
display(attractiveness_df.head())

   Target  Attractiveness
0  AF-200        1.143804
1  AF-201       -0.157090
2  AF-202       -0.301633
3  AF-203        0.057234
4  AF-204       -0.077341

In [38]:
# Prepare dataframe to feed in to imagedatagenerator 

image_files = os.listdir('C:/Users/Shoya/Aphrodite/All CFD Images/')

image_df = pd.DataFrame(image_files, columns=["Image File Names"])
image_df["Target ID"] = data_df["Image File Names"].str.slice(4,10)
data_df = pd.merge(image_df, attractiveness_df, left_on="Target ID", right_on="Target")[["Image File Names","Target ID","Attractiveness"]]
data_df = data_df.sample(frac=1).reset_index(drop=True)

In [39]:
data_df.head()

        Image File Names Target ID  Attractiveness
0   CFD-WF-039-032-A.jpg    WM-014        0.317840
1  CFD-BF-001-021-HC.jpg    BF-037       -0.378157
2  CFD-BF-002-004-HO.jpg    BF-044       -1.464134
3   CFD-BF-020-002-N.jpg    BF-220       -1.255622
4   CFD-BF-023-010-N.jpg    WF-027        1.890884

In [40]:
data_df.describe()

       Attractiveness
count     1207.000000
mean        -0.051699
std          0.965902
min         -2.226956
25%         -0.701908
50%         -0.201565
75%          0.586782
max          2.922321